<h3>Nullable</h3>

<p>Example of binding to a nullable DateTime property.</p>

<DatePicker @bind-Value="SelectedDate"></DatePicker>

<p>Bound Value: @SelectedDate</p>

<pre><code class="language-markup">
 &lt;DatePicker @@bind-Value="SelectedDate"&gt;&lt;/DatePicker&gt;
</code></pre>

<pre><code class="language-csharp">
@@code {
    public DateTime? SelectedDate { get; set; }
}
</code></pre>


@code {
    public DateTime? SelectedDate { get; set; }
}
