@page "/toggleSwitch/index"
@using Sample.Core.Pages.ToggleSwitch.Examples

@inject IJSRuntime JsRuntime;

<h1>Toggle Switch</h1>

<p>Blazor Toggle Switch Control</p>

<Instructions></Instructions>

<h2 class="mb-3">Examples</h2>

<Basic></Basic>

<br />

<Nullable></Nullable>

<br />

<RegisterForm></RegisterForm>

<br />

@code {

}
