.autocomplete {
    position: relative;
    z-index: 90;
}

.autocomplete-selection {
    border-radius: 5px;
    border: 1px solid #bfbfbf;
    padding: .5rem;
    cursor: pointer;
    z-index: 92;
}

.autocomplete-placeholder {
    opacity: .5;
}

.autocomplete-button {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    color: #000;
    float: right;
    border: 0;
    padding: 0;
    font-weight: 700;
    line-height: 1;
    width: 20px;
    height: 20px;
    opacity: .5;
    outline: none;
}

    .autocomplete-button:hover {
        opacity: 1;
    }

.autocomplete-clear {
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    text-shadow: 0 1px 0 #fff;
}

.autocomplete-search-container {
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border-radius: 5px;
    border: 1px solid #bfbfbf;
    padding: .5rem;
    position: absolute;
    z-index: 92;
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-search-input {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #bfbfbf;
    padding: .5rem;
    box-sizing: border-box;
}

.autocomplete-results {
    height: 200px;
    overflow: auto;
    margin-top: 5px;
}

.autocomplete-result {
    padding: 0;
    margin: 0;
    width: 100%;
}

.autocomplete-result > a,
.autocomplete-result > a:active,
.autocomplete-result > a:visited {
    display: block;
    padding: .5rem;
    text-decoration: none;
    color: #000;
}

    .autocomplete-result > a:hover,
    .autocomplete-result-selected > a,
    .autocomplete-result-selected > a:active,
    .autocomplete-result-selected > a:visited,
    .autocomplete-result-selected > a:hover {
        background-color: #5897fb;
        color: #fff;
        text-decoration: none;
        cursor: pointer;
    }

.autocomplete-result-no-records,
.autocomplete-result-searching {
    padding: .5rem;
    opacity: .5;
}

.autocomplete-result-footer {
    padding: .5rem;
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #000;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #000;
}

.close-overlay {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 91;
    background-color: transparent;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
