@page "/modals/index"
@using Sample.Core.Pages.Modals.Examples

<h1>Modals</h1>

<p>Modal Control</p>

<Instructions></Instructions>

<h2 class="mb-3">Examples</h2>

<h3 class="my-3">Common Modals</h3>

<Basic />

<h3 class="my-3">Custom Modals</h3>

<Custom />

<h3 class="my-3">Bootstrap Style</h3>

<Bootstrap />

@code {

}
