<h3>Basic</h3>

<p>The component can take the shape of 3 different shapes.</p>

<div class="mb-2">
    <Skeleton />
</div>
<div class="mb-2">
    <Skeleton Type="SkeletonType.Circle" Width="50px" Height="50px" />
</div>
<div class="mb-2">
    <Skeleton Type="SkeletonType.Rectangle" Width="200px" Height="110px" />
</div>

@code {

}
