.column-picker-row {
  padding: 0 !important;
  border: 0 none;
}

.column-picker {
  --column-picker-bg-color: var(--bs-body-bg, #fff);
  --column-picker-color: #e6e6e6;
  --column-picker-border-color: var(--bs-border-color, #dee2e6);
  --column-picker-border-width: 1px;
  --column-picker-border-radius: var(--bs-border-radius, 0.375rem);
  --column-picker-background-zindex: 1040;
  --column-picker-control-zindex: 1045;
  --column-picker-container-zindex: 1050;
  --column-picker-width: 250px;
  --column-picker-height-min: 150px;
  --column-picker-height-max: 300px;

  .column-picker-background {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    position: fixed;
    background-color: transparent;
    z-index: var(--column-picker-background-zindex);
    cursor: pointer;
  }

  .column-picker-container {
    background-color: var(--column-picker-bg-color);
    border: var(--column-picker-border-width) solid var(--column-picker-border-color);
    border-radius: var(--column-picker-border-radius);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px, rgba(0, 0, 0, 0.1) 0px 4px 11px;
    box-sizing: border-box;
    margin-bottom: 8px;
    margin-top: 2px;
    min-height: var(---column-picker-height-min);
    position: absolute;
    right: 0;
    width: var(--column-picker-width);
    z-index: var(--column-picker-container-zindex);

    .column-picker-list {
      max-height: var(--column-picker-height-max);
      overflow-y: auto;
      padding: 0.5rem;
      position: relative;
      box-sizing: border-box;

      .column-picker-label {
        align-items: center;
        cursor: pointer;
        display: inline-flex;
        margin: 0px;
        overflow: hidden;
        vertical-align: middle;
        width: 100%;

        .column-picker-checkbox {
          margin: 0 0.5rem;
        }

        .column-picker-text {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: 100%;
        }
      }
    }
  }
}
