.data-grid-container {
  position: relative;
}

.data-grid {
  width: 100%;
  border-collapse: collapse;
}

.data-grid-error {
  padding: 1.5rem;
  color: #dc3545;
}

.data-grid-empty {
  text-align: center;
  padding: 1.5rem;
  color: #6c757d;
}

.data-grid-header {
  display: flex;
  flex-direction: row;
}
.data-grid-header-title {
  flex-grow: 1;
  text-align: left;
}

button.data-grid-header-title,
button.data-grid-header-filter {
  cursor: pointer;
  background-color: transparent;
  border: 0 none;
  padding: 0.025rem 0.2rem;
  font: inherit;
}

.data-grid-header-sort-asc::before,
.data-grid-header-sort-desc::before,
.data-grid-header-filter-icon::before,
.data-grid-header-filter-active::before {
  display: inline-block;
  content: "";
  vertical-align: -.125em;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  margin-left: 0.25rem;
  opacity: 0.5;
}

.data-grid-header-sort-asc::before {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='currentColor' viewBox='0 0 16 16'><path d='M7.247 4.86l-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z' /></svg>");
}

.data-grid-header-sort-desc::before {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='currentColor' viewBox='0 0 16 16'><path d='M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z' /></svg>");
}

.data-grid-header-filter-icon::before {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16'><path d='M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2z'/></svg>");
}

.data-grid-header-filter-active::before {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16'><path d='M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5z'/></svg>");
}

.data-grid-hierarchy-cell {
  text-align: center !important;
  vertical-align: middle !important;
  padding: 0 !important;
}

.data-grid-hierarchy-button {
  cursor: pointer;
  background-color: transparent;
  border: 0 none;
  padding: 0;
}

.data-grid-hierarchy-button-expanded::before,
.data-grid-hierarchy-button-collapsed::before {
  display: inline-block;
  content: "";
  vertical-align: -.125em;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  opacity: 0.5;
}

.data-grid-hierarchy-button-expanded::before {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='currentColor' viewBox='0 0 16 16'><path d='M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z' /></svg>");
}

.data-grid-hierarchy-button-collapsed::before {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='currentColor' viewBox='0 0 16 16'><path d='M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z'/></svg>");
}

.data-grid-header-sort-icon {
  margin-left: 5px;
  opacity: 0.5;
}

.data-pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.data-pager {
  display: flex;
  padding-left: 0;
  list-style: none;
  margin: 0.25rem;
}

.data-page-link {
  position: relative;
  display: block;
  color: #0d6efd;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #dee2e6;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.data-page-link:hover {
  z-index: 2;
  color: #0a58ca;
  background-color: #e9ecef;
  border-color: #dee2e6;
}

.data-page-link:focus {
  z-index: 3;
  color: #0a58ca;
  background-color: #e9ecef;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.data-page-item:not(:first-child) .data-page-link {
  margin-left: -1px;
}

.data-page-item.active .data-page-link {
  z-index: 3;
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.data-page-item.disabled .data-page-link {
  color: #6c757d;
  pointer-events: none;
  background-color: #fff;
  border-color: #dee2e6;
}

.data-page-link {
  padding: 0.375rem 0.75rem;
}

.data-page-item:first-child .data-page-link {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.data-page-item:last-child .data-page-link {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}


.data-page-size-options select {
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  border: 0 none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  margin-right: 0.3rem;
}

.data-page-size-options select:focus {
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.data-page-size-options select:disabled {
  color: #6c757d;
  background-color: #e9ecef;
}

.data-page-size-options select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #212529;
}

.data-page-size-options,
.data-page-information {
  margin: 0.25rem;
}

.data-grid-selector-cell {
  text-align: center !important;
  vertical-align: middle !important;
  padding-right: 0 !important;
}

.data-check {
  display: block;
  min-height: 1.5rem;
  padding-left: 1.5em;
}

.data-check .data-check-input {
  float: left;
  margin-left: -1.5em;
}

.data-check-input {
  width: 1em;
  height: 1em;
  margin-top: 0.25em;
  vertical-align: top;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 1px solid rgba(0, 0, 0, 0.25);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
  cursor: pointer;
}

.data-check-input[type=checkbox] {
  border-radius: 0.25em;
}

.data-check-input:active {
  filter: brightness(90%);
}

.data-check-input:focus {
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.data-check-input:checked {
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.data-check-input:checked[type=checkbox] {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
}

.data-check-input[type=checkbox]:indeterminate {
  background-color: #0d6efd;
  border-color: #0d6efd;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10h8'/%3e%3c/svg%3e");
}

.data-check-input:disabled {
  pointer-events: none;
  filter: none;
  opacity: 0.5;
}

.data-check-input[disabled] ~ .data-check-label, .data-check-input:disabled ~ .data-check-label {
  opacity: 0.5;
}

.data-list {
  position: relative;
}

@media (max-width: 991.98px) {
  .data-pagination {
    flex-flow: column wrap;
  }

  .data-page-size-options {
    display: none;
  }
}

.filter-background {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  position: fixed;
  background-color: transparent;
  z-index: 1040;
  cursor: pointer;
}

.filter-container {
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px, rgba(0, 0, 0, 0.1) 0px 4px 11px;
  margin-bottom: 8px;
  margin-top: 2px;
  position: absolute;
  width: 100%;
  z-index: 1050;
  box-sizing: border-box;
  border: 1px solid rgb(191, 191, 191);
  border-radius: 4px;
  min-height: 150px;
  padding: .75em;
}

.filter-row {
    padding: 0;
    border: 0 none;
}

.filter-footer {
    margin-top: 1em;
}
