.data-grid-container,
.data-list {
  --data-grid-error-color: var(--bs-danger, #dc3545);
  --data-grid-empty-color: #6c757d;
  --data-size-options-color: var(--bs-body-color, #212529);
  --data-size-options-bg: var(--bs-body-bg, #fff);
  --data-grid-input-color: var(--bs-body-color, #212529);
  --data-grid-input-bg: var(--bs-body-bg, #fff);
  --data-grid-input-border-width: var(--bs-border-width, 1px);
  --data-grid-input-border-color: var(--bs-border-color, #dee2e6);
  --data-grid-input-border-radius: var(--bs-border-radius, 0.375rem);
  position: relative;
}

.data-grid {
  width: 100%;
  border-collapse: collapse;
}

.data-grid-error {
  padding: 1.5rem !important;
  color: var(--data-grid-error-color) !important;
  text-align: center;
  font-weight: 600;
}

.data-grid-empty {
  padding: 1.5rem !important;
  color: var(--data-grid-empty-color) !important;
  text-align: center;
  font-weight: 600;
}

.data-grid-table {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.data-grid-header {
  display: flex;
  flex-direction: row;
}

.data-grid-header-title {
  flex-grow: 1;
  text-align: left;
}

button.data-grid-header-title,
button.data-grid-header-filter {
  cursor: pointer;
  background-color: transparent;
  border: 0 none;
  padding: 0;
  font: inherit;
}

.data-grid-header-sort {
  display: flex;
  justify-content: center;
  align-items: center;
}

.data-grid-header-sort-asc::before,
.data-grid-header-sort-desc::before,
.data-grid-header-filter-icon::before,
.data-grid-header-filter-active::before {
  display: inline-block;
  content: "";
  vertical-align: -0.125em;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  margin-left: 0.25rem;
  opacity: 0.5;
}

.data-grid-header-sort-asc::before {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='currentColor' viewBox='0 0 16 16'><path fill-rule='evenodd' d='M10.082 5.629 9.664 7H8.598l1.789-5.332h1.234L13.402 7h-1.12l-.419-1.371zm1.57-.785L11 2.687h-.047l-.652 2.157z'/><path d='M12.96 14H9.028v-.691l2.579-3.72v-.054H9.098v-.867h3.785v.691l-2.567 3.72v.054h2.645zm-8.46-.5a.5.5 0 0 1-1 0V3.707L2.354 4.854a.5.5 0 1 1-.708-.708l2-1.999.007-.007a.5.5 0 0 1 .7.006l2 2a.5.5 0 1 1-.707.708L4.5 3.707z'/></svg>");
}

.data-grid-header-sort-desc::before {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='currentColor' viewBox='0 0 16 16'><path d='M12.96 7H9.028v-.691l2.579-3.72v-.054H9.098v-.867h3.785v.691l-2.567 3.72v.054h2.645z'/><path fill-rule='evenodd' d='M10.082 12.629 9.664 14H8.598l1.789-5.332h1.234L13.402 14h-1.12l-.419-1.371zm1.57-.785L11 9.688h-.047l-.652 2.156z'/><path d='M4.5 2.5a.5.5 0 0 0-1 0v9.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L4.5 12.293z'/></svg>");
}

.data-grid-header-filter-icon::before {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16'><path d='M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2z'/></svg>");
}

.data-grid-header-filter-active::before {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16'><path d='M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5z'/></svg>");
}

.data-grid-hierarchy-cell {
  text-align: center !important;
  vertical-align: middle !important;
  padding: 0 !important;
}

.data-grid-group-row {
  td {
    font-weight: 600;
  }
}

.data-grid-hierarchy-button,
.data-grid-group-button {
  cursor: pointer;
  background-color: transparent;
  border: 0 none;
  padding: 0;
}

.data-grid-group-button {
  padding-right: 0.5rem;
}

.data-grid-hierarchy-button-expanded::before,
.data-grid-hierarchy-button-collapsed::before,
.data-grid-group-button-expanded::before,
.data-grid-group-button-collapsed::before {
  display: inline-block;
  content: "";
  vertical-align: -0.125em;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  opacity: 0.5;
}

.data-grid-hierarchy-button-expanded::before,
.data-grid-group-button-expanded::before {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='currentColor' viewBox='0 0 16 16'><path d='M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z' /></svg>");
}

.data-grid-hierarchy-button-collapsed::before,
.data-grid-group-button-collapsed::before {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='currentColor' viewBox='0 0 16 16'><path d='M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z'/></svg>");
}

.data-grid-header-sort-icon {
  margin-left: 5px;
  opacity: 0.5;
}

.data-pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.data-page-size-options {
  margin: 0.25rem;

  select {
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--data-size-options-color);
    background-color: var(--data-size-options-bg);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border: 0 none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    margin-right: 0.3rem;

    &:focus {
      outline: 0;
      box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    }

    &:disabled {
      opacity: 0.5;
    }
  }
}

.data-grid-selector-cell {
  text-align: center !important;
  vertical-align: middle !important;
  padding-right: 0 !important;
}

.data-check {
  display: block;
  min-height: 1.5rem;
  padding-left: 1.5em;
}

.data-check .data-check-input {
  float: left;
  margin-left: -1.5em;
}

.data-check-input {
  width: 1em;
  height: 1em;
  margin-top: 0.25em;
  vertical-align: top;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 1px solid rgba(0, 0, 0, 0.25);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
  cursor: pointer;
}

.data-check-input[type="checkbox"] {
  border-radius: 0.25em;
}

.data-check-input:active {
  filter: brightness(90%);
}

.data-check-input:focus {
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.data-check-input:checked {
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.data-check-input:checked[type="checkbox"] {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
}

.data-check-input[type="checkbox"]:indeterminate {
  background-color: #0d6efd;
  border-color: #0d6efd;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10h8'/%3e%3c/svg%3e");
}

.data-check-input:disabled {
  pointer-events: none;
  filter: none;
  opacity: 0.5;
}

.data-check-input[disabled] ~ .data-check-label,
.data-check-input:disabled ~ .data-check-label {
  opacity: 0.5;
}

.data-list-error {
  padding: 1.5rem !important;
  color: var(--data-list-error-color) !important;
  text-align: center;
  font-weight: 600;
}

@media (max-width: 991.98px) {
  .data-pagination {
    flex-flow: column wrap;
  }

  .data-page-size-options {
    display: none;
  }
}

.filter-background {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  position: fixed;
  background-color: transparent;
  z-index: 1040;
  cursor: pointer;
}

.filter-container {
  background-color: #ffffff;
  border: 1px solid #bfbfbf;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px, rgba(0, 0, 0, 0.1) 0px 4px 11px;
  box-sizing: border-box;
  margin-bottom: 8px;
  margin-top: 2px;
  min-height: 150px;
  padding: 0.75em;
  position: absolute;
  width: 100%;
  z-index: 1050;
}

.filter-row {
  padding: 0 !important;
  border: 0 none;
}

.filter-footer {
  margin-top: 1em;
}

.sort-picker {
  padding: 0.25rem;

  label {
    font-weight: 600;
    width: 100%;
  }

  select {
    color: var(--data-grid-input-color);
    background-color: var(--data-grid-input-bg);
    border: var(--data-grid-input-border-width) solid var(--data-grid-input-border-color);
    border-radius: var(--data-grid-input-border-radius);
    font-weight: 400;
    padding: 0.25rem 0.75rem;
    margin: 0.125rem;
    font-size: 1rem;
    width: 100%;
  }
}
