:root {
  --json-border-width: 1px;
  --json-border-color: #dee2e6;
  --json-object-color: #212529;
  --json-name-color: inherit;
  --json-name-bg: #f9f9f9;
  --json-value-color: inherit;
  --json-value-bg: #fff;
}

.json-object {
  border: var(--json-border-width) solid var(--json-border-color);
  border-collapse: collapse;
  width: 100%;
  color: var(--json-object-color);
}

.json-name,
.json-value {
  border: var(--json-border-width) solid var(--json-border-color);
  padding: .25rem .25rem;
}

.json-name {
  background-color: var(--json-name-bg);
  color: var(--json-name-color);
  white-space: nowrap;
}

.json-value {
  background-color: var(--json-value-bg);
  color: var(--json-value-color);
  width: 100%;
}
