.loading-block-overlay {
  --loading-block-bg: rgba(0, 0, 0, 0.1);
  --loading-block-zindex: 9999;
  --loading-block-spinner-color: #212529;
  --loading-block-spinner-size: 5px;
  --loading-block-spinner-zindex: 1200;
  --loading-block-text-color: #212529;

  background-color: var(--loading-block-bg);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: var(--loading-block-zindex);
  flex-flow: column wrap;

  .loading-block-spinner {
    display: block;
    z-index: var(--loading-block-spinner-zindex);

    .loading-block-spinner-icon {
      animation: 400ms linear 0s infinite normal none running spinner-keyframe;
      border-color: var(--loading-block-spinner-color) transparent transparent var(--loading-block-spinner-color);
      border-width: var(--loading-block-spinner-size);
      border-style: solid;
      border-radius: 50%;
      box-sizing: border-box;
      height: 50px;
      width: 50px;
    }
  }

  .loading-block-text {
    color: var(--loading-block-text-color);
  }
}

