.loading-block-overlay {
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 9999;
  flex-flow: column wrap;
}

.loading-block-spinner {
  display: block;
  z-index: 1200;
}

.loading-block-spinner-icon {
  animation: 400ms linear 0s infinite normal none running progress-spinner-keframe;
  border-color: #212529 transparent transparent #212529;
  border-width: 5px;
  border-style: solid;
  border-radius: 50%;
  box-sizing: border-box;
  height: 50px;
  width: 50px;
}

.loading-block-text {
  color: #212529;
}
