.datetimepicker {
  --picker-color: var(--bs-body-color, #212529);
  --picker-bg-color: var(--bs-body-bg, #fff);

  --picker-selected-bg-color: var(--bs-primary, #0d6efd);
  --picker-selected-color: #fff;

  --picker-input-color: #4a4a4a;

  --picker-border-color: var(--bs-border-color, #dee2e6);
  --picker-border-width: var(--bs-border-width, 1px);
  --picker-border-radius: var(--bs-border-radius, 0.375rem);

  --picker-button-color: #ccc;
  --picker-button-bg-color: #fff;
  --picker-button-hover-color: #828282;
  --picker-button-active-color: var(--bs-primary, #0d6efd);

  --picker-clear-color: var(--bs-danger, #dc3545);

  --picker-modal-bg-color: var(--bs-body-bg, #fff);
  --picker-modal-color: #e6e6e6;
  --picker-modal-border-color: var(--bs-border-color, #dee2e6);
  --picker-modal-border-width: 1px;
  --picker-modal-border-radius: var(--bs-border-radius, 0.375rem);

  --picker-header-color: #7a7a7a;
  --picker-cell-color: #4a4a4a;
  --picker-cell-hover-color: #0a0a0a;
  --picker-cell-hover-bg-color: var(--bs-tertiary-bg, #f8f9fa);
  --picker-cell-disabled-color: #b5b5b5;

  --picker-today-border-width: 1px;
  --picker-today-border-color: rgba(38, 132, 255, 0.5);

  --picker-time-size: 120px;

  --picker-background-zindex: 1040;
  --picker-control-zindex: 1045;
  --picker-modal-zindex: 1050;

  box-sizing: border-box;
  clear: both;
  position: relative;
  text-align: left;
}

.datetimepicker-value-container {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  box-sizing: border-box;
  flex: 1 1 0%;
  width: 100%;
  border: var(--picker-border-width) solid var(--picker-border-color);
  border-radius: var(--picker-border-radius);
}


.datetimepicker-clear-button,
.datetimepicker-calendar-button,
.datetimepicker-time-button {
  color: var(--picker-button-color);
  display: flex;
  align-items: center;
  box-sizing: border-box;
  background-color: var(--picker-button-bg-color);
  border: 0 none transparent;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 1px 4px;
}

.datetimepicker-clear-button:hover {
  color: var(--picker-clear-color);
}

.datetimepicker-calendar-button:hover,
.datetimepicker-time-button:hover {
  color: var(--picker-button-hover-color);
}

.datetimepicker-calendar-button,
.datetimepicker-time-button {
  border-top-right-radius: var(--picker-border-radius);
  border-bottom-right-radius: var(--picker-border-radius);
}

.datetimepicker.is-datepicker-open .datetimepicker-calendar-button {
  color: var(--picker-button-active-color);
}

.datetimepicker.is-datepicker-open .datetimepicker-value-container {
  z-index: var(--picker-control-zindex);
}

.datetimepicker-input {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  border: 0 none transparent;
  border-top-left-radius: var(--picker-border-radius);
  border-bottom-left-radius: var(--picker-border-radius);
  padding: 0.375rem 0.75rem;
  box-sizing: border-box;
  background-color: var(--picker-bg-color);
  position: relative;
  -ms-flex: 1 1 0%;
  flex: 1 1 0%;
  min-width: 0;
}

.datetimepicker-background {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  position: fixed;
  background-color: transparent;
  z-index: var(--picker-background-zindex);
  cursor: pointer;
}

.datepicker-modal {
  display: flex;
  height: 310px;
  background-color: var(--picker-modal-bg-color);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px, rgba(0, 0, 0, 0.1) 0px 4px 11px;
  margin-bottom: 8px;
  margin-top: 2px;
  position: absolute;
  z-index: var(--picker-modal-zindex);
  box-sizing: border-box;
  border: var(--picker-modal-border-width) solid var(--picker-modal-border-color);
  border-radius: var(--picker-modal-border-radius);
}

.datepicker-table {
  display: table;
  margin: 0 auto;
}

.datepicker-header {
  display: table-header-group;
}

.datepicker-header-cell,
.datepicker-cell {
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  border-radius: 4px;
  padding: 0.45rem;
  color: var(--picker-cell-color);
  text-decoration: none;
  border: 0 none transparent;
  background-color: transparent;
}

.datepicker-header-cell {
  color: var(--picker-header-color);
  font-weight: 600;
}

.datepicker-body {
  display: table-row-group;
}

.datepicker-row {
  display: table-row;
}

.datepicker-cell:not(.is-disabled),
.timepicker-cell:not(.is-disabled) {
  cursor: pointer;
}

.datepicker-cell:hover:not(.is-selected),
.timepicker-cell:hover:not(.is-selected) {
  background-color: var(--picker-cell-hover-bg-color);
  color: var(--picker-cell-hover-color);
}

.datepicker-cell.is-today {
  border: var(--picker-today-border-width) solid var(--picker-today-border-color);
}

.datepicker-cell.is-secondary-month,
.datepicker-cell.is-disabled,
.timepicker-cell.is-disabled {
  color: var(--picker-cell-disabled-color) !important;
}

.datepicker-cell.is-selected,
.timepicker-cell.is-selected {
  background-color: var(--picker-selected-bg-color);
  color: var(--picker-selected-color) !important;
}

.is-disabled {
  pointer-events: none;
}

.datepicker-navigation {
  display: flex;
  justify-content: space-between;
}

.datepicker-previous-button,
.datepicker-next-button,
.datepicker-today-button {
  background-color: transparent;
  color: var(--picker-button-color);
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 1px 3px;
  border: 0 none transparent;
  margin: 0.2rem 0.15rem;
}

.datepicker-today-button {
  color: var(--picker-input-color);
}

.datepicker-select-month,
.datepicker-input-year {
  color: var(--picker-input-color);
  display: flex;
  box-sizing: border-box;
  padding: 1px 3px;
  border: none;
  margin: 0.2rem 0.15rem;
  font-weight: 700;
  cursor: pointer;
}

.datepicker-select-month {
  width: 100px;
  appearance: none;
  text-indent: 0.01px;
  text-overflow: "";
}

.datepicker-input-year {
  width: 60px;
  appearance: textfield;
}

.datepicker-input-year::-webkit-outer-spin-button,
.datepicker-input-year::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.timepicker-container {
  border-left: var(--bs-border-width) solid var(--picker-border-color);
  width: var(--picker-time-size);
  overflow-x: hidden;
  overflow-y: scroll;
  margin: .125rem;
}

.timepicker-cell {
  text-align: left;
  vertical-align: middle;
  padding: 0.15rem 0.6rem;
  color: var(--picker-cell-color);
  text-decoration: none;
  border: 0 none transparent;
  background-color: transparent;
}
