.skeleton {
  height: 1.2em;
  display: block;
  background-color: rgba(0, 0, 0, 0.05);
}

.skeleton-text {
  height: auto;
  transform: scale(1, 0.60);
  margin-top: 0;
  margin-bottom: 0;
  transform-origin: 0 60%;
}

.skeleton-text:empty:before {
  content: "\00a0";
}

.skeleton-circle {
  border-radius: 50%;
}

.skeleton-wave {
  overflow: hidden;
  position: relative;
}

.skeleton-wave::after {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  position: absolute;
  animation: skeleton-keyframes-wave 1.6s linear 0.5s infinite;
  transform: translateX(-100%);
  background: linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.04), transparent);
}

@keyframes skeleton-keyframes-wave {
  0% {
    transform: translateX(-100%);
  }

  60% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(100%);
  }
}
