.toaster-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 9999;

  &.toaster-top-center {
    top: 2rem;
    left: 50%;
    transform: translate(-50%, 0%);
  }

  &.toaster-top-left {
    top: 2rem;
    left: 2rem;
  }

  &.toaster-top-right {
    top: 2rem;
    right: 2rem;
  }

  &.toaster-bottom-center {
    bottom: 2rem;
    left: 50%;
    transform: translate(-50%, 0%);
  }

  &.toaster-bottom-left {
    bottom: 2rem;
    left: 2rem;
  }

  &.toaster-bottom-right {
    bottom: 2rem;
    right: 2rem;
  }

  .toast-element {
    display: flex;
    position: relative;
    flex-direction: row;
    animation: fadein 1.5s;
    margin-bottom: 1rem;
    padding: .5rem;
    color: #1D1D1B;
    width: 25rem;
    border-radius: .25rem;
    box-shadow: rgba(0,0,0,0.30) 0px 10px 30px 2px;
    background-color: #fff;
    border-top: 6px solid #fff;

    &.toast-information {
      border-top: 6px solid #2563eb;

      .toast-icon {
        color: #2563eb;
      }
    }

    &.toast-success {
      border-top: 6px solid #16a34a;

      .toast-icon {
        color: #16a34a;
      }
    }

    &.toast-warning {
      border-top: 6px solid #eab308;

      .toast-icon {
        color: #eab308;
      }
    }

    &.toast-error {
      border-top: 6px solid #dc2626;

      .toast-icon {
        color: #dc2626;
      }
    }

    .toast-icon {
      border: 0;
      display: flex;
      align-items: center;
      margin-right: .5rem;

      .toast-icon-image {
        height: 22px;
        width: 22px;
      }
    }

    .toast-message {
      flex-grow: 1;
      margin: auto 0;
      font-weight: 500;
      font-size: .9rem;
      overflow-wrap: break-word;
      word-wrap: break-word;
      word-break: break-word;
      padding: .25rem;
    }

    .toast-close {
      box-sizing: content-box;
      width: 1em;
      height: 1em;
      padding: .5rem;
      color: #000;
      background: transparent center/1em auto no-repeat;
      background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414'/></svg>");
      border: 0;
      border-radius: .375rem;
      opacity: 0.5;

      &:hover {
        color: inherit;
      }
    }

    .toast-progress-bar {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 6px;
      border-bottom-left-radius: .375rem;
      border-bottom-right-radius: .375rem;

      > span {
        position: absolute;
        filter: brightness(75%);
        height: 6px;
        border-bottom-left-radius: .375rem;
        background-image: linear-gradient(rgba(0, 0, 0, 0.1) 0 0);
        transition: all .1s linear;
      }
    }
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
