.typeahead {
  --typeahead-color: var(--bs-body-color, #212529);
  --typeahead-bg-color: var(--bs-body-bg, #fff);

  --typeahead-border-color: var(--bs-border-color, #dee2e6);
  --typeahead-border-width: var(--bs-border-width, 1px);
  --typeahead-border-radius: var(--bs-border-radius, 0.375rem);

  --typeahead-multi-bg-color: #e6e6e6;
  --typeahead-multi-border-radius: 2px;

  --typeahead-hover-bg-color: #d4d4d4;

  --typeahead-indicator-color: #ccc;
  --typeahead-loading-color: #ccc;
  --typeahead-clear-color: var(--bs-danger, #dc3545);
  --typeahead-chevron-color: #828282;

  --typeahead-menu-bg-color: var(--bs-body-bg, #fff);
  --typeahead-menu-color: #e6e6e6;
  --typeahead-menu-border-color: var(--bs-border-color, #dee2e6);
  --typeahead-menu-border-width: 1px;
  --typeahead-menu-border-radius: var(--bs-border-radius, 0.375rem);

  --typeahead-input-border-color: var(--bs-border-color, #dee2e6);
  --typeahead-input-border-width: var(--bs-border-width, 1px);
  --typeahead-input-border-radius: var(--bs-border-radius, 0.375rem);

  --typeahead-selected-bg-color: var(--bs-primary, #0d6efd);
  --typeahead-selected-color: #fff;

  --typeahead-option-hover-bg-color: #deebff;

  --typeahead-background-zindex: 1040;
  --typeahead-control-zindex: 1045;
  --typeahead-menu-zindex: 1050;

  position: relative;
  box-sizing: border-box;

  .typeahead-background {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    position: fixed;
    background-color: transparent;
    z-index: var(--typeahead-background-zindex);
    cursor: pointer;
  }

  .typeahead-control {
    -webkit-box-align: center;
    align-items: center;
    background-color: var(--typeahead-bg-color);
    cursor: default;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    min-height: 38px;
    position: relative;
    box-sizing: border-box;
    border-color: var(--typeahead-border-color);
    border-radius: var(--typeahead-border-radius);
    border-style: solid;
    border-width: var(--typeahead-border-width);
    transition: all 100ms ease 0s;
    outline: 0px !important;

    &.typeahead-active {
      z-index: var(--typeahead-control-zindex);
    }

    .typeahead-value-container {
      -webkit-box-align: center;
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      position: relative;
      box-sizing: border-box;
      flex: 1 1 0%;
      padding: 2px 8px;

      .typeahead-value-placeholder {
        opacity: 0.5;
      }

      .typeahead-single-value {
        color: var(--typeahead-color);
        margin-left: 2px;
        margin-right: 2px;
        max-width: calc(100% - 8px);
        position: absolute;
        text-overflow: ellipsis;
        white-space: nowrap;
        top: 50%;
        transform: translateY(-50%);
        box-sizing: border-box;
      }

      .typeahead-multi-value {
        background-color: var(--typeahead-multi-bg-color);
        display: flex;
        min-width: 0px;
        box-sizing: border-box;
        border-radius: var(--typeahead-multi-border-radius);
        margin: 2px;
      }

      .typeahead-multi-value-label {
        color: var(--typeahead-color);
        font-size: 85%;
        text-overflow: ellipsis;
        white-space: nowrap;
        box-sizing: border-box;
        border-radius: var(--typeahead-multi-border-radius);
        overflow: hidden;
        padding: 3px 3px 3px 6px;
      }

      .typeahead-multi-value-clear {
        -webkit-box-align: center;
        align-items: center;
        display: flex;
        padding-left: 4px;
        padding-right: 4px;
        box-sizing: border-box;
        border-radius: var(--typeahead-multi-border-radius);
        background-color: transparent;
        border: 0;
        outline: none;
      }

      .typeahead-multi-value-clear:hover {
        background-color: var(--typeahead-hover-bg-color);
        color: var(--typeahead-clear-color);
      }
    }

    .typeahead-indicators {
      -webkit-box-align: center;
      align-items: center;
      align-self: stretch;
      display: flex;
      flex-shrink: 0;
      box-sizing: border-box;

      .typeahead-indicator-separator {
        align-self: stretch;
        background-color: var(--typeahead-indicator-color);
        margin-bottom: 8px;
        margin-top: 8px;
        width: 1px;
        box-sizing: border-box;
      }

      .typeahead-indicator {
        color: var(--typeahead-indicator-color);
        display: flex;
        box-sizing: border-box;
        padding: 8px;
        transition: color 150ms ease 0s;
        background-color: transparent;
        border: 0;
        outline: none;
      }

      .typeahead-clear-indicator {
        &:hover {
          color: var(--typeahead-clear-color);
        }
      }

      .typeahead-chevron-indicator {
        &:hover {
          color: var(--typeahead-chevron-color);
        }
      }
      .typeahead-loading-indicator {
        color: var(--typeahead-indicator-color);
        display: flex;
        align-self: center;
        font-size: 4px;
        line-height: 1;
        margin-right: 4px;
        text-align: center;
        vertical-align: middle;
        box-sizing: border-box;
        padding: 8px;
        transition: color 150ms ease 0s;
      }
    }
  }

  .typeahead-menu {
    top: 100%;
    background-color: var(--typeahead-menu-bg-color);
    box-shadow: #0000001a 0px 0px 0px 1px, #0000001a 0px 4px 11px;
    margin-bottom: 8px;
    margin-top: 2px;
    position: absolute;
    width: 100%;
    z-index: var(--typeahead-menu-zindex);
    box-sizing: border-box;
    border-color: var(--typeahead-menu-border-color);
    border-radius: var(--typeahead-menu-border-radius);
    border-style: solid;
    border-width: var(--typeahead-menu-border-width);

    .typeahead-search-container {
      margin: 0;

      .typeahead-search-input {
        width: 100%;

        border-top-left-radius: var(--typeahead-input-border-radius);
        border-top-right-radius: var(--typeahead-input-border-radius);
        border-color: var(--typeahead-input-border-color);
        border-style: solid;
        border-width: var(--typeahead-input-border-width);

        padding: 0.5rem;
        box-sizing: border-box;
      }
    }

    .typeahead-menu-list {
      max-height: 300px;
      overflow-y: auto;
      padding-bottom: 4px;
      padding-top: 4px;
      position: relative;
      box-sizing: border-box;

      .typeahead-option {
        background-color: transparent;
        color: inherit;
        cursor: pointer;
        display: block;
        font-size: inherit;
        width: 100%;
        user-select: none;
        -webkit-tap-highlight-color: #00000000;
        box-sizing: border-box;
        padding: 8px 12px;

        &:hover {
          background-color: var(--typeahead-option-hover-bg-color);
        }

        &.typeahead-option-selected {
          background-color: var(--typeahead-selected-bg-color);
          color: var(--typeahead-selected-color);

          &:hover {
            background-color: var(--typeahead-selected-bg-color);
            color: var(--typeahead-selected-color);
          }
        }
      }

      .typeahead-option-no-records,
      .typeahead-option-loading {
        padding: 0.5rem;
        opacity: 0.5;
      }

      .typeahead-option-footer {
        padding: 0.5rem;
      }
    }
  }
}

.typeahead-loading-dot-1,
.typeahead-loading-dot-2,
.typeahead-loading-dot-3 {
  background-color: var(--typeahead-loading-color);
  display: inline-block;
  height: 1em;
  vertical-align: top;
  width: 1em;
  border-radius: 1em;
}

.typeahead-loading-dot-2,
.typeahead-loading-dot-3 {
  margin-left: 1em;
}

.typeahead-loading-dot-1 {
  animation: 1s ease-in-out 0ms infinite normal none running dot-loading;
}

.typeahead-loading-dot-2 {
  animation: 1s ease-in-out 160ms infinite normal none running dot-loading;
}

.typeahead-loading-dot-3 {
  animation: 1s ease-in-out 320ms infinite normal none running dot-loading;
}

.typeahead-svg {
  display: inline-block;
  fill: currentcolor;
  line-height: 1;
  stroke: currentcolor;
  stroke-width: 0;
}
