@import "button";
@import "data";
@import "input";
@import "json";
@import "loading";
@import "pager";
@import "picker";
@import "progress";
@import "query";
@import "skeleton";
@import "toaster";
@import "toggle";
@import "typeahead";

@keyframes dot-loading {
  0%, 80%, 100% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }
}

@keyframes spinner-keyframe {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
