@page "/"

<div class="jumbotron">
    <h1>LoreSoft Blazor Controls</h1>
    <p class="lead">Documentation on how to use LoreSoft Blazor Controls.</p>
</div>

<h2>Typeahead</h2>

<p><a href="/typeahead/index">Typeahead Control Demo</a> </p>

<h2>DateTimePicker</h2>

<p><a href="/datetimepicker/index">Date Time Picker Control Demo</a></p>

<h2>ToggleSwitch</h2>

<p><a href="/toggleSwitch/index">Toggle Switch Control Demo</a></p>

@code {

}
