<footer class="border-top footer text-muted d-print-none">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md text-center">
                <a href="https://github.com/loresoft/LoreSoft.Blazor.Controls"
                   title="GitHub Soure Code">
                    <i class="fab fa-github"></i> Source Code
                </a>
            </div>
            <div class="col-md-6 text-center">
                Copyright © @DateTime.Now.Year LoreSoft. All Rights Reserved.
            </div>
            <div class="col-md text-center">
                Version @AssemblyMetadata.InformationalVersion
            </div>
        </div>
    </div>
</footer>