<h2>Installing</h2>

<p>You can install from NuGet using the following command:</p>

<pre><code>Install-Package LoreSoft.Blazor.Controls</code></pre>

<p>Or via the Visual Studio package manager.</p>

<h2>Setup</h2>

<p>To use it, you will need to include the following CSS and JS files in your <code>index.html</code> (Blazor WebAssembly) or <code>_Host.cshtml</code> (Blazor Server).</p>

<p>In the head tag, add the following CSS.</p>

<pre><code class="language-markup">&lt;link rel=&quot;stylesheet&quot; href=&quot;_content/LoreSoft.Blazor.Controls/BlazorControls.css&quot; /&gt;</code></pre>

