@inherits Microsoft.AspNetCore.Components.LayoutComponentBase

<MainMenu></MainMenu>

<ProgressBar Color="#f44336" />

<ToastContainer MaxToast="10" Position="@ToastPosition.TopCenter" />

<main role="main" class="container">
    @Body
</main>

<Footer></Footer>
