@page "/"

<div class="bg-light mb-4 rounded-2 py-5 px-3">
    <h1>LoreSoft Blazor Controls</h1>
    <p class="lead">Documentation on how to use LoreSoft Blazor Controls.</p>
</div>

<div class="row">
    <div class="col-sm">
        <h2>DataGrid</h2>
        <p><a href="/datagrid/index">DataGrid Control Demo</a> </p>

        <h2>DataList</h2>
        <p><a href="/datalist/index">DataList Control Demo</a> </p>

        <h2>QueryBuilder</h2>
        <p><a href="/query/index">QueryBuilder Demo</a> </p>
    </div>
    <div class="col-sm">
        <h2>DateTimePicker</h2>
        <p><a href="/datetimepicker/index">Date Time Picker Control Demo</a></p>

        <h2>Typeahead</h2>
        <p><a href="/typeahead/index">Typeahead Control Demo</a> </p>


    </div>
    <div class="col-sm">
        <h2>ProgressBar</h2>
        <p><a href="/progressbar/index">Progress Bar Control Demo</a></p>

        <h2>Skeleton</h2>
        <p><a href="/skeleton/index">Skeleton Control Demo</a></p>

        <h2>ToggleSwitch</h2>
        <p><a href="/toggleSwitch/index">Toggle Switch Control Demo</a></p>

    </div>
</div>
