@attribute [CascadingTypeParameter(nameof(TItem))]
@typeparam TItem where TItem : class
@namespace LoreSoft.Blazor.Controls

@if (CurrentGrid != null)
{
    <div class="data-toolbar">
        <div class="toolbar-title">
            @if (TitleTemplate != null)
            {
                @TitleTemplate(CurrentGrid)
            }
            else if (!string.IsNullOrEmpty(Title))
            {
                <h5 class="toolbar-title-text">@Title</h5>
            }
        </div>
        @if (ShowSearch)
        {
            <div class="toolbar-search-box">
                <input name="toolbar-search"
                       type="search"
                       class="input-search toolbar-search-input"
                       placeholder="Search"
                       @bind-value="SearchText.Value"
                       @bind-value:event="oninput" />
            </div>
        }
        @if (FilterTemplate != null)
        {
            @FilterTemplate(CurrentGrid)
        }
        <div class="toolbar-button-bar">
            @if (ShowRefresh)
            {
                <button name="refresh-button"
                        title="Refresh Data"
                        class="toolbar-button"
                        type="button"
                        @onclick="HandelRefresh">
                    <i class="toolbar-icon toolbar-refresh-icon"></i>
                </button>
            }
            @if (ShowExport)
            {
                <button name="export-button"
                        title="Export Data"
                        class="toolbar-button"
                        type="button"
                        @onclick="HandelExport">
                    <i class="toolbar-icon toolbar-export-icon"></i>
                </button>
            }
            @if (ShowFilter)
            {
                <button name="filter-button"
                        title="Filter Data"
                        class="toolbar-button"
                        type="button"
                        @onclick="ToggleFilter">
                    @if (CurrentGrid.IsFilterActive())
                    {
                        <i class="toolbar-icon toolbar-filter-active-icon"></i>
                    }
                    else
                    {
                        <i class="toolbar-icon toolbar-filter-icon"></i>
                    }
                </button>
            }
            @if (ShowColumnPicker)
            {
                <button name="column-picker-button"
                        title="Column Picker"
                        class="toolbar-button"
                        type="button"
                        @onclick="ToggleColumnPicker">
                    <i class="toolbar-icon toolbar-column-picker-icon"></i>
                </button>
            }
        </div>
        @if (ActionTemplate != null)
        {
            @ActionTemplate(CurrentGrid)
        }
    </div>
}


