@inherits ProgressBarBase

<div class="progress-container" style="@ContainerStyle">
    <div class="progress-bar" style="@BarStyle">
        <div class="progress-peg" style="@PegStyle"></div>
    </div>
    <div class="progress-spinner">
        <div class="progress-spinner-icon" style="@IconStyle"></div>
    </div>
</div>
