
<div class="progress-container" style="@ContainerStyle">
    <div class="progress-status-bar" style="@BarStyle">
        <div class="progress-status-peg" style="@PegStyle"></div>
    </div>
    <div class="progress-status-spinner">
        <div class="progress-status-spinner-icon" style="@IconStyle"></div>
    </div>
</div>
