@inherits ToggleSwitchBase

@using Microsoft.AspNetCore.Components.Web

<label class="@CssClass" @attributes="AdditionalAttributes">
    <input type="checkbox" @bind="CurrentValue" />
    <span class="toggle-slider"></span>
</label>
