@namespace LoreSoft.Blazor.Controls
@inherits ModalComponentBase

<div class="dialog-content @VariantClass">
    <div class="dialog-header">
        <h3>@Title</h3>
        <button type="button"
                class="dialog-close-button"
                aria-label="Close"
                @onclick="CancelAsync" />
    </div>
    <div class="dialog-body">
        <p>@Message</p>
    </div>
    <div class="dialog-footer">
        <button type="button"
                class="dialog-primary-button"
                @onclick="CloseAsync">
            @PrimaryAction
        </button>
    </div>
</div>
