@page "/datagrid/index"
@using Sample.Core.Models
@using Sample.Core.Pages.DataGrid.Examples
@using Sample.Core.Services

<h1>DataGrid</h1>

<p>DataGrid Control</p>

<Instructions></Instructions>

<h2 class="mb-3">Examples</h2>

<Basic />

<div class="mb-5"></div>

<GitHub />

<div class="mb-5"></div>

<Virtual />

<div class="mb-5"></div>

<Banks />

@code {

}
