@page "/datetimepicker/index"
@using Sample.ServerSide.Pages.DateTimePicker.Examples

@inject IJSRuntime JsRuntime;

<h1>Date Time Picker</h1>

<p>Blazor Date Time Picker Control</p>

<Instructions></Instructions>

<h2 class="mb-3">Examples</h2>

<Basic></Basic>

<br />

<Nullable></Nullable>

<br />

<Time></Time>

<br />

<RegisterForm></RegisterForm>

<br />

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        await JsRuntime.InvokeAsync<object>("Prism.highlightAll");
    }
}