<h3>Basic</h3>

<p>Basic example of binding to a DateTime property.</p>

<DateTimePicker @bind-Value="SelectedDate"
                Mode="DateTimePickerMode.DateTime"
                placeholder="Date" />

<p>Bound Value: @SelectedDate</p>

<pre><code class="language-markup">&lt;DateTimePicker @@bind-Value="SelectedDate" Mode="DateTimePickerMode.DateTime"&gt;&lt;/DateTimePicker&gt;</code></pre>

<pre><code class="language-csharp">
@@code {
    public DateTime SelectedDate { get; set; }
}
</code></pre>


@code {
    public DateTime SelectedDate { get; set; }
}
