@page "/typeahead/index"
@using Sample.Core.Pages.Typeahead.Examples

@inject IJSRuntime JsRuntime;

<h1>Typeahead</h1>

<p>Blazor Typeahead Control</p>

<Instructions></Instructions>

<h2 class="mb-3">Examples</h2>

<SingleValue />

<br />

<MultipleValues />

<br />

<GitHubSearch />

<br />

<ValueBind />

<br />

<ValueLoad />

<br />

<RegisterForm />

<br />

<p class="mb-5"> <br /></p>

@code {

}
