@page "/datalist/index"
@using Sample.Core.Pages.DataList.Examples

<h1>DataList</h1>

<p>DataList Control</p>

<Instructions></Instructions>

<h2 class="mb-3">Examples</h2>

<Basic />

<div class="mb-5"></div>

<GitHub />

<div class="mb-5"></div>

<Virtual />

@code {

}
