@page "/inputlist/index"
@using Sample.Core.Pages.InputList.Examples

<h1>InputList</h1>

<p>List Input Control</p>

<Instructions></Instructions>

<h2 class="mb-3">Examples</h2>

<Basic />

<div class="mb-5"></div>

<NumbersAndDates />

<div class="mb-5"></div>

<UpdateOnInput />

<div class="mb-5"></div>

<DefaultValue />

<div class="mb-5"></div>

<Validation />

@code {

}
