.filter-row {
  padding: 0 !important;
  border: 0 none;
}

.filter {
  --filter-zindex-background: 1040;
  --filter-zindex-container: 1050;
  --filter-background-color: transparent;
  --filter-container-background: #ffffff;
  --filter-container-border: 1px solid #bfbfbf;
  --filter-container-radius: 4px;
  --filter-container-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px, rgba(0, 0, 0, 0.1) 0px 4px 11px;
  --filter-margin-bottom: 8px;
  --filter-margin-top: 2px;
  --filter-padding: 0.75em;
  --filter-footer-margin-top: 1em;

  & .filter-background {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    position: fixed;
    background-color: var(--filter-background-color);
    z-index: var(--filter-zindex-background);
    cursor: pointer;
  }

  & .filter-container {
    background-color: var(--filter-container-background);
    border: var(--filter-container-border);
    border-radius: var(--filter-container-radius);
    box-shadow: var(--filter-container-shadow);
    box-sizing: border-box;
    margin-bottom: var(--filter-margin-bottom);
    margin-top: var(--filter-margin-top);
    min-height: 150px;
    padding: var(--filter-padding);
    position: absolute;
    width: 100%;
    z-index: var(--filter-zindex-container);
  }

  & .filter-footer {
    margin-top: var(--filter-footer-margin-top);
  }
}
