.input-image {
  --input-image-color: #ccc;
  --input-image-clear-color: var(--bs-danger, #dc3545);
  position: relative;

  & .input-image-label {
    cursor: pointer;
    position: relative;

    &:hover .input-image-clear {
      display: flex;
    }
  }

  & .input-image-icon {
  }

  & .input-image-clear {
    color: var(--input-image-color);
    display: none;
    box-sizing: border-box;
    padding: 0.125rem;
    transition: color 150ms ease 0s;
    background-color: transparent;
    border: 0;
    outline: none;
    position: absolute;
    right: 0;
    top: 0;

    &:hover {
      color: var(--input-image-clear-color);
    }
  }
}

.input-search {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="gray" viewBox="0 0 512 512"><path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/></svg>');
  background-position: .5em center;
  background-repeat: no-repeat;
  background-size: 1em 1em;
  padding-left: 1.85em !important;
}
