.toggle-switch {
  --toggle-switch-bg: #ccc;
  --toggle-switch-color: #828282;
  --toggle-switch-content: "NO";
  --toggle-slider-bg: var(--bs-body-bg, #fff);
  --toggle-checked-bg: var(--bs-primary, #0d6efd);
  --toggle-checked-color: #e6e6e6;
  --toggle-checked-content: "YES";
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 30px;
  margin: 0;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--toggle-switch-bg);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 4px;
}

.toggle-slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--toggle-slider-bg);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 2px;
}

.toggle-slider:after {
  position: absolute;
  content: var(--toggle-switch-content);
  height: 22px;
  width: 26px;
  right: 6px;
  top: 6px;
  color: var(--toggle-switch-color);
  font-size: 12px;
}

.toggle-switch input:checked+.toggle-slider {
  background-color: var(--toggle-checked-bg);
}

.toggle-switch input:focus+.toggle-slider {
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.toggle-switch input:checked+.toggle-slider:before {
  -webkit-transform: translateX(36px);
  -ms-transform: translateX(36px);
  transform: translateX(36px);
}

.toggle-switch input:checked+.toggle-slider:after {
  content: var(--toggle-checked-content);
  left: 6px;
  top: 6px;
  color: var(--toggle-checked-color);
}
