@using Sample.Core.Services
@using Sample.Core.Models

<h3>Virtual - No Paging</h3>

<DataGrid Data="People"
          Virtualize="true"
          Borders="@Borders.None"
          @ref="Grid">
    <DataColumns>
        <DataColumn TItem="Person"
                    Property="p => p.Id"
                    Width="70px"
                    SortIndex="0" />
        <DataColumn TItem="Person"
                    Property="p => p.FullName">
            <Template>
                <a href="#">@context.FullName</a>
            </Template>
        </DataColumn>
        <DataColumn TItem="Person"
                    Property="p => p.Score"
                    Width="100px" />
        <DataColumn TItem="Person"
                    Property="p => p.Location" />
        <DataColumn TItem="Person"
                    Property="p => p.Birthday"
                    Format="d" />
    </DataColumns>
</DataGrid>

@code {
    public ICollection<Person> People { get; set; } = [];

    private DataGrid<Person>? Grid { get; set; }

    protected override void OnInitialized()
    {
        People = Data.GeneratePeople(55).ToList();
    }

}
