@namespace LoreSoft.Blazor.Controls
@inherits StandardComponent

<div id="@BoundElementId"
     class="@BoundClass"
     style="@BoundStyle">
    <div class="tooltip-trigger">
        @ChildContent
    </div>
    <div class="tooltip-content">
        @if (TipContent != null)
        {
            @TipContent
        }
        else if (!string.IsNullOrEmpty(Tip))
        {
            @Tip
        }
    </div>
</div>
